<div class="duo-bl">
  <div class="left-part">
    <div class="content">
    	<div class="row-container">
        <div class="white-row">
          <div class="r-corn">
            <%= link_to t('manage.plugins.locales'), manage_locales_path, :class=>"dark-text" %>
          </div>
        </div>
      </div>
      
      <div id="softwares" class="stage">
        <%= render :partial => "manage/locales/locale", :collection => @locales %>
      </div>
      
      <script type='text/javascript'>
        $(document).ready(function(){
          init_collection('locales', 'dinamic-bl');
        });
      </script>
      
    </div>
  </div>
</div> 
